*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif,arial;
	font-size: 16px;
	background: #BBD2E3;
}

.contenedor{
	width: 1000px;
	margin: 20px;
}

header{
	background: white;
}

header nav{
	width: 100%;
}

header nav ul{
	width: 100%;
	overflow: hidden;
}

header nav ul li{
	float: left;
	list-style: none;
	display: inline-block;
}

header nav ul li a{
	text-decoration: none;
	display: inline-block;
	padding: 20px 15px;
	color: navy;
}

header nav ul li a:hover{
	background: navy;
	color:white;
}

.main{
	width:680px;
	float: left;

}

.main .imagen{
	width:100%;
}

.main .imagen img{
	width:100%;
}

.main .post{
	padding: 48px;
	background: white;
}
.main .post h2{
	color:navy;
	margin-bottom:20px;
}

.main .post p{
	color:black;
	line-height:27px;
	margin-bottom:20px;
}

aside{
	width: 280px;
	background:lightblue;
	color:white;
	padding:20px;
	overflow: hidden;
}

aside .widget{
	margin-bottom: 28px;
}

aside .widget h2{
	color: #000000;
	border-bottom: 1px solid;
	margin-bottom: 10px #ffffff;

}

aside .widget ul{
	list-style: none;

}

aside .widget ul li{
	border-bottom: 1px solid #000000;
	padding: 10px 0px;
}

aside .widget ul li a{
	text-decoration: none;
	color: black;
}

aside .widget ul li a:hover{
	background: #ffffff;
	color:#000000 ;
}

aside .widget p{
	line-height: 27px;
	text-align: justify;
}

footer{
	width: 1000px;
	background: lightsteelblue;
	padding: 48px;
	text-align: center;
	color: black;
	overflow: hidden;
}